
.about {
    background-color: black;
    display: flex;
  
    .left {
      flex: 1;
      overflow: hidden;
      color: white;

      .left-inner{
        display: flex;
        flex-direction: column;
      }
  
      h1 {
        padding: 12.5px 0 12.5px 0;
        font-weight: 700;
      }
  
      .logo {
        font-size: 40px;  
        padding: 12.5px 0 12.5px 0;
      }
  
      .logo2 {
        width: 95px;
        padding: 12.5px 0 12.5px 0;
      }
  
      h4 {
        padding-bottom: 2.5px;
      }
  
      .p-under-orion-logo {
        padding-bottom: 12.5px;
      }
  
      ul {
      list-style-type: none;
      padding: 0;
      }
  
      img {
        width: 95px;
        padding-top: 12.5px;
      }
    }

    p, ul {
      line-height: 1.4;
    }
  
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  