
.about {
    background-color: black;
    display: flex;

    .left {
      flex: 1;
      overflow: hidden;
      color: white;

      .left-inner{
        display: flex;
        flex-direction: column;
        margin: 50px 10% 5% 20%;
        

        p, ul {
          line-height: 1.4;
        }

        h4 {
          padding-bottom: 3.5px;
        }

        ul {
          list-style-type: none;
          word-spacing: 1.5px;
          padding: 0;
          }

        .logo-container{
          display: flex;
          gap: 15px;
          
          .logo {
            width: auto;
            height: 45px;
          }
        }

        .minor-info-container{
          display: flex;
          flex-direction: column;

          img {
            width: auto;
            max-width: 76.125px;
            height: 35px;
          }
        }
      }
  }

  
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media only screen and (max-width: 760px) {
    #about {
      height: auto!important;
      flex-wrap: wrap-reverse;
      

      .left {
        flex-grow: 1;
        min-width: 500px;

        .left-inner {
          margin-left: 10%;
        }
      }
      .right {
        flex-grow: 1;
        min-width: 500px;
        max-height: calc(50vh - 35px);
        img {
        }
      }
    }
}

@media only screen and (max-width: 500px) {
  #about {
    height: auto!important;
    flex-wrap: wrap-reverse;
    

    .left {
      min-width: 100px;
    }
  }
}

@media only screen and (max-height: 759px) {
  #about {
    height: auto!important;
  }
}