#footer {
    height: calc(50vh - 35px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    .logo {
        font-size: 65px;
    }

    .text-container {
        display: flex;
        padding: 25px 0;

        h4 {
            margin-right: 15px;
            cursor: pointer;
        }
    }

    .follow {
        padding-bottom: 12.5px;
    }

    .item-container {
        display: flex;
        padding-bottom: 25px;

        .icon {
            font-size: 40px;
            margin-right: 15px;
            cursor: pointer;
        }
    }

    p {
        font-size: 12.5px;
    }
    
}