#signup {
    height: auto!important;
    background: white;
    display: flex;
    gap: 25px;

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 50px 10% 5% 10%;

        p {
            line-height: 1.4;
        }

        .date-container {
            display: flex;

            div {

                margin-right: 20px;
                overflow: hidden;

                input {
                    width: 100%;
                    
                }

                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                }

                input[type=number] {
                    -moz-appearance:textfield;
                }

                input:focus {
                outline: none;
                border-bottom: 2px solid #ff9f80;
                }
            }
        }

        button {
            background: none;
            color: lightgray;
            border: 2px solid lightgray;
            font-weight: 700;
            padding: 12.5px 50px;
            cursor: default;
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10%;

        img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

}

@media only screen and (max-width: 760px) {
    #signup {
        flex-direction: column;
        .right {
            margin-left: 10%;
        }
        
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 24px;
    }
}
