.video-gallery {
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;

    .right{
      width: 100%;
      height: 100%;
      // min-height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;


          .video-button {
              z-index: 200;
              cursor: pointer;
              color: white;
              text-align: center;

              .icons {
                  font-size: 75px;
                  color: white;
                  opacity: 0.6;
                  cursor: pointer;
                  transition: ease-in-out 0.35s;

                  &:hover {
                    opacity: 0.9;
                  }
              }
          }
              
          .modal__bg {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: black;
              backdrop-filter: blur(6px);
              opacity: 1;
              animation-timing-function: ease-out;
              animation-duration: 0.3s;
              animation-name: modal-video;
              -webkit-transition: opacity 0.3s ease-out;
              -moz-transition: opacity 0.3s ease-out;
              -ms-transition: opacity 0.3s ease-out;
              -o-transition: opacity 0.3s ease-out;
              transition: opacity 0.3s ease-out;
              z-index: 100;
              overflow-y: hidden;
            }
            
            .modal__align {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
            }
            
            .modal__content {
              width: 100%;
              height: 95%;
              // box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
              //   0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
              //   0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
              //   0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
              border-radius: 20px;
              background: transparent;
              color: #000;
              margin: 0rem 4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            
            .modal__close {
              // top: 15px;
              background-color: white;
              border-radius: 50%;
              cursor: pointer;
              // position: relative;
              z-index: 200;
              width: 32px;
              height: 32px;
              padding: 0;
              margin: 12.5px 0;
            }
            
            .modal__video-align {
              display: flex;
              position: relative;
              // bottom: 37px;
              height: 100%;
              width: 100%;
            }
            
            .modal__video-style {
              border-radius: 20px;
              z-index: 100;
            }
            
            .modal__spinner {
              position: fixed;
              top: 50%;
              left:0; 
              right:0; 
              margin:0 auto;
              transform: translate(-50%, -50%);
            }
            
            .modal__spinner {
              animation: spin 2s linear infinite;
              font-size: 40px;
              color: #1b6aae;
            }
            
            @keyframes spin {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
            
            @media screen and (max-width: 800px) {
              .modal__content {
                margin: 0rem 1rem;
                width: 100%;
              }
              .modal__video-style {
                width: 100%;
              }
            }
            
            // @media screen and (max-width: 499px) {
            //   .modal__content {
            //     background: transparent;
            //     height: auto;
            //   }
            //   .modal__video-align {
            //     bottom: 0px;
            //   }
            //   .modal__video-style {
            //     height: auto;
            //   }
            // }

            .gradient {
              z-index: 3;
              position: absolute;
              width: 100%;
              height: 100%;
              // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.50) 100%);
              background: rgba(0,0,0,0.2);
            }

}





    .left {
        top: 50px;
        left: 10%;
        z-index: 7;
        min-width: 250px;
        position: absolute;
        color: white;

        h1 {
            font-weight: 700;
            text-align: left;
        }

        .playlist {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            max-height: 600px;

            &::-webkit-scrollbar-track {
              border-radius: 10px;
              box-shadow: inset 0 0 6px rgba(0,0,0,.3);
              background-color: rgb(184, 189, 181);
            }
            
            &::-webkit-scrollbar {
              width: 10px;
            }
            
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              box-shadow: inset 0 0 6px rgba(0,0,0,.3);
              background-color: black;
            }



            .thumb-and-title {
                display: flex;
                align-items: flex-start;
                gap: 7.5px;
                margin-bottom: 7.5px;
                background-color: rgba(0,0,0,0.2);
                border-radius: 7.5px;
                cursor: pointer;
                opacity: 0.8;
                transition: ease-out 0.5s;

                &:last-of-type {
                  margin-bottom: 0;
                }

                  &:hover {
                    opacity: 1;
                  }

                img {
                    background: black;
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                    border-radius: 7.5px 0 0 7.5px;
                }

                h5 {
                    padding-top: 17.5px;
                    max-width: 100px;
                    text-align: left;
                }
            }
        }
    }

}

@media only screen and (max-width: 760px) {
  .video-gallery {
    height: auto!important;
    flex-direction: column-reverse;
    position: static;
    overflow-x: scroll;
    box-sizing: border-box;

      .left {
        position: static;
        margin: 25px 10% 5% 10%;

        .playlist {
          max-height: 400px;

          &::-webkit-scrollbar {
            width: 5px;
          }

          .thumb-and-title {
            background: none;
            border-bottom: 2px solid white;
            border-radius: 0;
            margin-bottom: 0;

            &:last-of-type {
              border-bottom: none;
            }

            h5 {
              max-width: none;
            }
          }
        }

     }
     .right {
      min-height: 50vh;

      .gradient {
      }
     }
  } 
}

@media only screen and  (max-height: 775px) {
  .video-gallery {
    min-height: 390px;

    .left {
      position: static;
      height: 100%;
      overflow-y: hidden;
      margin: 50px 2.5% 5% 10%;

      .playlist {
        max-height: 70%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 5px;
        }

        .thumb-and-title {
          background: none;
          border-bottom: 2px solid white;
          border-radius: 0;
          margin-bottom: 0;

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }

    .right {
      height: auto;
    }
  }
}

@media only screen and (max-width: 760px) and (max-height: 775px) {
  .video-gallery {

    .left {

      .playlist {
        max-height: 400px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 5px;
        }
      }
    }
  }
}