
.button-anim {
    cursor: pointer;
    position: relative;
    transition: all .35s;
    background: none;
    color: white;
    border: 2px solid white;
    font-weight: 700;
    padding: 12.5px 25px;
    z-index: 998;
    cursor: pointer;

}

.button-anim span{
    position: relative;
    z-index: 999;
}

.button-anim:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .35s;
}

.button-anim:hover{
    color: black;
    background: white;
}

.button-anim:hover:after{
    width: 100%;
}

/////////////////
/// button-anim-2 (for white backgrounds)
///  

.button-anim-2 {
    cursor: pointer;
    position: relative;
    transition: all .35s;
    background: none;
    color: black;
    border: 2px solid black;
    font-weight: 700;
    padding: 12.5px 25px;
    z-index: 998;
    cursor: pointer;

}

.button-anim-2 span{
    position: relative;
    z-index: 999;
}

.button-anim-2:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all .35s;
}

.button-anim-2:hover{
    color: white;
    background: black;
}

.button-anim-2:hover:after{
    width: 100%;
}

/////////////////
/// button-anim for signup component
///  

.button-anim-3 {
    position: relative;
    transition: all .35s;
    z-index: 998;
}

.button-anim-3 span{
    position: relative;
    z-index: 999;
}

.button-anim-3:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(184, 212, 214);
    transition: all .35s;
}

.button-anim-3:hover{
    background: rgb(184, 212, 214);
}

.button-anim-3:hover:after{
    width: 100%;
}
