.app {
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

.sections {
    width: 100vw;
    overflow-x: hidden;
    height: calc(100vh - 70px);
    background-color: black;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar{
        display: none;
    }

    > *{
        width: 100vw;
        height: calc(100vh - 70px);
        scroll-snap-align: start;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 760px), (max-height: 759px) {
    .sections {
        scroll-behavior: smooth;
        scroll-snap-type: none;
        scrollbar-width: none; // for firefox
        &::-webkit-scrollbar{
            display: none;
        }
    
        > *{
            scroll-snap-align: none;
        }
    }
}